html {
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.App {
  background: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.LanguageMenu {
  display: flex;
  flex-direction: column; }
  .LanguageMenu nav {
    flex: 1;
    display: flex;
    justify-content: center; }
    .LanguageMenu nav .Option {
      padding: 1em;
      cursor: pointer; }
      .LanguageMenu nav .Option.active {
        font-weight: bold; }
      .LanguageMenu nav .Option:hover {
        background-color: #ddd; }

.AppMenu {
  transition-property: font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  display: flex;
  justify-content: center;
  font-size: 10vw;
  font-size: 10vmin;
  height: 2em; }
  @media (min-width: 800px), (min-height: 800px) {
    .AppMenu {
      font-size: 2.5em; } }
  .AppMenu .MenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer; }
    .AppMenu .MenuItem:hover {
      background: white;
      color: black; }

.MainPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .MainPage .wrapper {
    position: relative; }

.Deck {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
  flex: 1; }

.reshuffle {
  box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.3em;
  background: #ddd; }

.Card {
  height: 100%;
  width: 100%;
  z-index: 0;
  transition-property: transform, box-shadow;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.325, -0.28, 0.655, 1.345);
  cursor: pointer;
  perspective: 15em;
  position: absolute;
  pointer-events: all; }
  .Card .CardFront {
    transform: rotateY(180deg); }
  .Card .CardBack {
    transform: rotateY(0); }
  .Card:nth-of-type(50n + 0) {
    transition-delay: 0ms; }
  .Card:nth-of-type(50n + 1) {
    transition-delay: 30ms; }
  .Card:nth-of-type(50n + 2) {
    transition-delay: 60ms; }
  .Card:nth-of-type(50n + 3) {
    transition-delay: 90ms; }
  .Card:nth-of-type(50n + 4) {
    transition-delay: 120ms; }
  .Card:nth-of-type(50n + 5) {
    transition-delay: 150ms; }
  .Card:nth-of-type(50n + 6) {
    transition-delay: 180ms; }
  .Card:nth-of-type(50n + 7) {
    transition-delay: 210ms; }
  .Card:nth-of-type(50n + 8) {
    transition-delay: 240ms; }
  .Card:nth-of-type(50n + 9) {
    transition-delay: 270ms; }
  .Card:nth-of-type(50n + 10) {
    transition-delay: 300ms; }
  .Card:nth-of-type(50n + 11) {
    transition-delay: 330ms; }
  .Card:nth-of-type(50n + 12) {
    transition-delay: 360ms; }
  .Card:nth-of-type(50n + 13) {
    transition-delay: 390ms; }
  .Card:nth-of-type(50n + 14) {
    transition-delay: 420ms; }
  .Card:nth-of-type(50n + 15) {
    transition-delay: 450ms; }
  .Card:nth-of-type(50n + 16) {
    transition-delay: 480ms; }
  .Card:nth-of-type(50n + 17) {
    transition-delay: 510ms; }
  .Card:nth-of-type(50n + 18) {
    transition-delay: 540ms; }
  .Card:nth-of-type(50n + 19) {
    transition-delay: 570ms; }
  .Card:nth-of-type(50n + 20) {
    transition-delay: 600ms; }
  .Card:nth-of-type(50n + 21) {
    transition-delay: 630ms; }
  .Card:nth-of-type(50n + 22) {
    transition-delay: 660ms; }
  .Card:nth-of-type(50n + 23) {
    transition-delay: 690ms; }
  .Card:nth-of-type(50n + 24) {
    transition-delay: 720ms; }
  .Card:nth-of-type(50n + 25) {
    transition-delay: 750ms; }
  .Card:nth-of-type(50n + 26) {
    transition-delay: 780ms; }
  .Card:nth-of-type(50n + 27) {
    transition-delay: 810ms; }
  .Card:nth-of-type(50n + 28) {
    transition-delay: 840ms; }
  .Card:nth-of-type(50n + 29) {
    transition-delay: 870ms; }
  .Card:nth-of-type(50n + 30) {
    transition-delay: 900ms; }
  .Card:nth-of-type(50n + 31) {
    transition-delay: 930ms; }
  .Card:nth-of-type(50n + 32) {
    transition-delay: 960ms; }
  .Card:nth-of-type(50n + 33) {
    transition-delay: 990ms; }
  .Card:nth-of-type(50n + 34) {
    transition-delay: 1020ms; }
  .Card:nth-of-type(50n + 35) {
    transition-delay: 1050ms; }
  .Card:nth-of-type(50n + 36) {
    transition-delay: 1080ms; }
  .Card:nth-of-type(50n + 37) {
    transition-delay: 1110ms; }
  .Card:nth-of-type(50n + 38) {
    transition-delay: 1140ms; }
  .Card:nth-of-type(50n + 39) {
    transition-delay: 1170ms; }
  .Card:nth-of-type(50n + 40) {
    transition-delay: 1200ms; }
  .Card:nth-of-type(50n + 41) {
    transition-delay: 1230ms; }
  .Card:nth-of-type(50n + 42) {
    transition-delay: 1260ms; }
  .Card:nth-of-type(50n + 43) {
    transition-delay: 1290ms; }
  .Card:nth-of-type(50n + 44) {
    transition-delay: 1320ms; }
  .Card:nth-of-type(50n + 45) {
    transition-delay: 1350ms; }
  .Card:nth-of-type(50n + 46) {
    transition-delay: 1380ms; }
  .Card:nth-of-type(50n + 47) {
    transition-delay: 1410ms; }
  .Card:nth-of-type(50n + 48) {
    transition-delay: 1440ms; }
  .Card:nth-of-type(50n + 49) {
    transition-delay: 1470ms; }
  .Card.flip {
    z-index: 100;
    transition-delay: 0ms;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.41, 0, 0.46, 1.425); }
    .Card.flip .CardFront {
      transform: rotateY(0); }
    .Card.flip .CardBack {
      transform: rotateY(-180deg); }
    .Card.flip:hover {
      z-index: 200;
      transform: scale(1) translate(0, 0) !important; }
      .Card.flip:hover .CardFront, .Card.flip:hover .CardBack {
        box-shadow: 0 0.1em 2em -0.5em rgba(0, 0, 0, 0.5); }

.discarded {
  pointer-events: none;
  z-index: 300;
  transition-delay: 0ms !important; }
  .discarded:nth-of-type(20n + 0) {
    transform: rotateZ(0deg) translate(0vw, 200vh) !important; }
  .discarded:nth-of-type(20n + 1) {
    transform: rotateZ(783deg) translate(181.85949vw, -83.22937vh) !important; }
  .discarded:nth-of-type(20n + 2) {
    transform: rotateZ(1566deg) translate(-151.3605vw, -130.72872vh) !important; }
  .discarded:nth-of-type(20n + 3) {
    transform: rotateZ(2349deg) translate(-55.87734vw, 192.05603vh) !important; }
  .discarded:nth-of-type(20n + 4) {
    transform: rotateZ(3132deg) translate(197.87165vw, -29.10001vh) !important; }
  .discarded:nth-of-type(20n + 5) {
    transform: rotateZ(3915deg) translate(-108.80422vw, -167.81431vh) !important; }
  .discarded:nth-of-type(20n + 6) {
    transform: rotateZ(4698deg) translate(-107.31268vw, 168.77842vh) !important; }
  .discarded:nth-of-type(20n + 7) {
    transform: rotateZ(5481deg) translate(198.12147vw, 27.34744vh) !important; }
  .discarded:nth-of-type(20n + 8) {
    transform: rotateZ(6264deg) translate(-57.58066vw, -191.5319vh) !important; }
  .discarded:nth-of-type(20n + 9) {
    transform: rotateZ(7047deg) translate(-150.19685vw, 132.06585vh) !important; }
  .discarded:nth-of-type(20n + 10) {
    transform: rotateZ(7830deg) translate(182.58905vw, 81.61641vh) !important; }
  .discarded:nth-of-type(20n + 11) {
    transform: rotateZ(8613deg) translate(-1.77026vw, -199.99217vh) !important; }
  .discarded:nth-of-type(20n + 12) {
    transform: rotateZ(9396deg) translate(-181.1155vw, 84.83658vh) !important; }
  .discarded:nth-of-type(20n + 13) {
    transform: rotateZ(10179deg) translate(152.51169vw, 129.38386vh) !important; }
  .discarded:nth-of-type(20n + 14) {
    transform: rotateZ(10962deg) translate(54.18116vw, -192.52117vh) !important; }
  .discarded:nth-of-type(20n + 15) {
    transform: rotateZ(11745deg) translate(-197.60628vw, 30.85051vh) !important; }
  .discarded:nth-of-type(20n + 16) {
    transform: rotateZ(12528deg) translate(110.28534vw, 166.84467vh) !important; }
  .discarded:nth-of-type(20n + 17) {
    transform: rotateZ(13311deg) translate(105.81654vw, -169.71405vh) !important; }
  .discarded:nth-of-type(20n + 18) {
    transform: rotateZ(14094deg) translate(-198.35576vw, -25.59268vh) !important; }
  .discarded:nth-of-type(20n + 19) {
    transform: rotateZ(14877deg) translate(59.27372vw, 191.01473vh) !important; }
  .discarded:nth-of-type(20n + 20) {
    transform: rotateZ(15660deg) translate(149.02263vw, -133.38761vh) !important; }

.card-content {
  font-size: 0.36em;
  line-height: 1.2em;
  padding: 3em; }
  .card-content .card-title {
    font-size: 1.5em;
    margin: 0 0 0.4em 0;
    padding: 0; }

.CardBack, .CardFront {
  transition: inherit;
  transition-delay: 100ms;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 0.3em;
  width: inherit;
  height: inherit;
  position: absolute;
  background-size: cover;
  background-position: center;
  transform-origin: 45% 50%;
  backface-visibility: hidden;
  background-color: white; }
