html {
  box-sizing: border-box; }

.App {
  background: #EEE;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Deck {
  user-select: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  flex: 1; }
  .Deck.reshuffle {
    box-sizing: border-box;
    border: .5rem #FFF dashed;
    background: none;
    transform: rotateZ(180deg) translateZ(0.75); }
    .Deck.reshuffle .CardBack {
      opacity: 0; }
    .Deck.reshuffle:hover {
      transform: rotateZ(180deg) translateZ(0.75); }

.Card {
  height: 100%;
  width: 100%;
  z-index: 0;
  transform: scale(0.8);
  transition-property: transform, box-shadow;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  perspective: 15em;
  position: absolute; }
  .Card .CardFront {
    transform: rotateY(180deg); }
  .Card .CardBack {
    transform: rotateY(0); }
  .Card.flip {
    z-index: 100; }
    .Card.flip .CardFront {
      transform: rotateY(0); }
    .Card.flip .CardBack {
      transform: rotateY(-180deg); }
  .Card:first-of-type {
    z-index: 1; }
    .Card:first-of-type:hover {
      z-index: 200;
      transform: scale(1); }
      .Card:first-of-type:hover .CardFront, .Card:first-of-type:hover .CardBack {
        box-shadow: 0 0.1em 2em -0.5em rgba(0, 0, 0, 0.5); }
  .Card.discarded {
    z-index: 300;
    transform: rotateX(90deg) rotateY(70deg) translateX(100vh); }

.card-content {
  font-size: 0.4em;
  padding: 2.5em; }
  .card-content .card-title {
    font-size: 1.5em;
    margin: 0 0 0.4em 0;
    padding: 0; }

.CardBack, .CardFront {
  box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.3em;
  width: inherit;
  height: inherit;
  transition: inherit;
  position: absolute;
  background-size: cover;
  background-position: center;
  transform-origin: 45% 50%;
  backface-visibility: hidden; }

.sjansekort .CardFront {
  background-image: url("sjanse-CardFront.jpg"); }

.sjansekort .CardBack {
  background-image: url("sjanse-CardBack.jpg"); }

.handlingskort .CardFront {
  background-image: url("handling-CardFront.jpg"); }

.handlingskort .CardBack {
  background-image: url("handling-CardBack.jpg"); }
