@media screen {
  html {
    background: #EEE;
    font-size: 22.5px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 5vw;
  }
}
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  max-width: 71vh;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.deck {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.deck .spacer {
  z-index: 0;
  display: block;
}
.deck .card-title {
  font-size: 1.1em;
  padding: 0;
  margin: 0 0 .2em 0;
}
.deck .card-text {
  font-size: .7em;
}
.deck .card {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, -webkit-transform;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-perspective: 40em;
          perspective: 40em;
}
.deck .card .pad {
  padding: 10%;
}
.deck .card.reshuffle {
  box-sizing: border-box;
  border: .5rem #FFF dashed;
  background: none;
  -webkit-transform: rotateZ(180deg) translateZ(0.75);
          transform: rotateZ(180deg) translateZ(0.75);
}
.deck .card.reshuffle .back {
  opacity: 0;
}
.deck .card.reshuffle:hover {
  -webkit-transform: rotateZ(180deg) translateZ(0.75);
          transform: rotateZ(180deg) translateZ(0.75);
}
.deck .card .back, .deck .card .front {
  height: 100%;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  border-radius: .7em;
  box-shadow: 0 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.5);
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-transform-origin: 45% 50%;
          transform-origin: 45% 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transition: inherit;
  transition: inherit;
}
.deck .card .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.deck .card .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.deck .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.deck .card:hover .front, .deck .card:hover .back {
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.5);
}
.deck .card.flip {
  z-index: 200;
}
.deck .card.flip.discarded {
  z-index: 1000;
  -webkit-transform: rotateX(90deg) rotateY(70deg) translateX(100vh);
          transform: rotateX(90deg) rotateY(70deg) translateX(100vh);
}
.deck .card.flip .front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.deck .card.flip .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
